/* 여기에 스타일을 구현해 주세요 */
/* 기본 세팅 */

:root {
  --state-on-color: #4cfe88;
  --state-off-color: #dbdbdb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}

.container {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

/* 스크린 리더는 읽을수 있지만 안보이게 처리. */
.sr-only {
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: rect(0, 0, 0, 0);
}
nav {
  padding: 10px 0;
  font-size: 36px;
  border: 1px solid #f1f1f1;
}
.logo a {
  display: flex;
  align-items: center;
}
.logo img {
  border-radius: 50%;
}
.logo span {
  margin-left: 20px;
}

/* 과제 출석 모니터링 영역  */
.studentContainer {
  display: flex;
  position: absolute;
  width: 100%;
  height: 700px;
  justify-content: center;
  align-items: center;
}

.studentCard {
  position: relative;
  width: 64px;
  height: 64px;
  float: left;
  margin: 10px;
  border-radius: 50%;
}

.studentCard:nth-child(5n) {
  clear: both;
}
.studentImage {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}
.workState {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -18px;
  right: 0px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: var(--state-off-color);
  z-index: 999;
}

.active {
  background-color: var(--state-on-color);
}
